* EIRENE input file for isolated divertor leg
*** 1. Data for operating mode                                          
     2     1     5 30000     1     1     0     1     0
    -1     1     0     1     1     9     1     0     1
TFFTF FFFFF FFFTF F
CFILE AMJUEL Database/AMdata/amjuel.tex        
CFILE HYDHEL Database/AMdata/hydhel.tex        
CFILE SPUTER Database/Surfacedata/SPUTER       
CFILE TRIM   Database/Surfacedata/TRIM/trim.dat
CFILE METHAN Database/AMdata/methane.tex       
CFILE gr_ext Database/graphite_ext.dat         
CFILE mo_ext Database/mo_ext.dat               
*** 2. Data for standard mesh                                           
     6     1     1
T
FFFFT FFF
  NY+1     1  NX+1     1     0     0     0
 0.00000E+00 0.00000E+00 0.00000E+00 0.00000E+00
T
FFF
  NX+1     0     0     0
 0.00000E+00 1.00000E+00 0.00000E+00 0.00000E+00
F
FTF
     0     0    60     0
 0.00000E+00 0.00000E+00 3.60000E+02 0.00000E+00 1.00000E-05
F
** 2e. Data for additional cells outside standard mesh                  
T
     1
 1.00000E+00
*** 3a. Data for non-default standard surfaces                          
     4                                                                          
*  1: Inner side                                                                
     1     1     1     1     1     1  NX+1     0     0
 ILIIN     0     0     0     0     0     0     0     0     1
SURFMOD_PFC
*  2: Outer side                                                                
     2     1  NY+1  NY+1  NY+1     1  NX+1     0     0
 ILIIN     0     0     0     0     0     0     0     0     2
SURFMOD_PFC
*  3: Target                                                                    
     3     2  NX+1     1  NY+1  NX+1  NX+1     0     0
     1     0     0     0     0     0     0     0     0     4
SURFMOD_PFC
*  4: X point                                                                   
     4     2     1     1  NY+1     1     1     0     0
     1     0     0     0     0     0     0     0     0     3
SURFMOD_DIVENT
*** 3b. Data for additional surfaces                                    
*** 4. Data for species and atomic physics module                       
**  Reactions                                                           
    19
  1 AMJUEL H.4 2.1.5    EI   0  1 0.00000E+00 0.00000E+00 0.00000E+00
  2 AMJUEL H.102.1.5    EI   0  1 0.00000E+00 0.00000E+00 0.00000E+00
  3 HYDHEL H.1 3.1.8    CX   1  1 0.00000E+00 0.00000E+00 0.00000E+00
  3 HYDHEL H.3 3.1.8    CX   1  1 0.00000E+00 0.00000E+00 0.00000E+00
  4 AMJUEL H.4 2.6A0    EI   0 12 0.00000E+00 0.00000E+00 0.00000E+00
  5 AMJUEL H.102.6A0    EI   0 12 0.00000E+00 0.00000E+00 0.00000E+00
  6 METHAN H.1 3.2      CX   1 12 0.00000E+00 0.00000E+00 0.00000E+00
  6 METHAN H.3 3.2      CX   1 12 0.00000E+00 0.00000E+00 0.00000E+00
  7 AMJUEL H.4 2.2.9    EI   0  2 0.00000E+00 0.00000E+00 0.00000E+00
  8 AMJUEL H.4 2.2.5g   DS   0  2 0.00000E+00 0.00000E+00 0.00000E+00
  9 AMJUEL H.4 2.2.10   DS   0  2 0.00000E+00 0.00000E+00 0.00000E+00
 10 AMJUEL H.0 0.3T     EL   1  2 0.00000E+00 0.00000E+00 0.00000E+00
 10 AMJUEL H.1 0.3T     EL   1  2 0.00000E+00 0.00000E+00 0.00000E+00
 10 AMJUEL H.3 0.3T     EL   1  2 0.00000E+00 0.00000E+00 0.00000E+00
 11 AMJUEL H.2 3.2.3    CX   1  2 0.00000E+00 0.00000E+00 0.00000E+00
 12 AMJUEL H.4 2.2.12   DS   0  2 0.00000E+00 0.00000E+00 0.00000E+00
 13 AMJUEL H.4 2.2.11   EI   0  2 0.00000E+00 0.00000E+00 0.00000E+00
 14 AMJUEL H.4 2.2.14   DS   0  2 0.00000E+00 0.00000E+00 0.00000E+00
 15 AMJUEL H.8 2.2.14   DS   0  2 0.00000E+00 0.00000E+00 0.00000E+00
 16 AMJUEL H.4 2.1.8    RC   0  1 0.00000E+00 0.00000E+00 0.00000E+00
 17 AMJUEL H.102.1.8    RC   0  1 1.36000E+01 0.00000E+00 0.00000E+00
 18 AMJUEL H.4 2.3.6A0  RC   0 12 0.00000E+00 0.00000E+00 0.00000E+00
 19 AMJUEL H.102.3.6A0  RC   0 12 1.12603E+01 0.00000E+00 0.00000E+00
** 4a. Neutral atom species                                             
     1
 1 D         2  1  1  0  1 -1  0  2  0  0  0
     1   115   114     0 30000     0     0
 2.00000E+00 0.00000E+00 0.00000E+00 0.00000E+00 1.00000E+00 0.00000E+00
     3   114   111   114  1001     0     0
 0.00000E+00 0.00000E+00 0.00000E+00 0.00000E+00 1.00000E+00 0.00000E+00
** 4b. Neutral molecule species                                         
     1
 1 D2        4  2  2  0  0  1  0  5  0  0  0  1
     7   115   113     0     0     0     0
-1.54000E+01 0.00000E+00 0.00000E+00 0.00000E+00 1.00000E+00
     8   115   121     0     0     0     0
-1.05000E+01 0.00000E+00 3.00000E+00 3.00000E+00 1.00000E+00
     9   115   111   114     0     0     0
-2.50000E+01 0.00000E+00 5.00000E+00 5.00000E+00 1.00000E+00
    10   114   114   112  1001     0     0
 0.00000E+00 0.00000E+00 0.00000E+00 0.00000E+00 1.00000E+00
    11   114   111   113  1001     0     0
 0.00000E+00 0.00000E+00 0.00000E+00 0.00000E+00 1.00000E+00
** 4c. Test ion species                                                 
     1
 1 D2+       4  2  2  1  0 -1  0  3 -1  0  0  1
    12   115   111   114     0     0     0
-1.04000E+01 0.00000E+00 4.30000E+00 4.30000E+00 1.00000E+00
    13   115   124     0     0     0     0
-1.55000E+01 0.00000E+00 2.50000E-01 2.50000E-01 1.00000E+00
    14   115   121     0 30300     0     0
 1.50000E+01 0.00000E+00 1.50000E+01 0.00000E+00 1.00000E+00
*** 5. Data for plasma background                                       
** 5a. Bulk ion species                                                 
     1
 1 D+        2  1  1  1  1 -1  0  1  0  0  0  0             0
    16   115   111     0 30000
 1.70000E+01 0.00000E+00 0.00000E+00 0.00000E+00 1.00000E+00
** 5b. Plasma background data                                           
     6     6     6     6     6     6     0     0     0     0     0     0
 0.00000E+00 0.00000E+00 0.00000E+00 0.00000E+00 0.00000E+00 0.00000E+00
*** 6a. General data for reflection model                               
T
D_on_C  
C_on_C  
 1.00000E+00 1.00000E+00
 1.00000E+00
 1.00000E+00
 1.00000E+00 1.66667E-01 1.66667E-01 1.66667E-01 1.66667E-01 1.66667E-01
 1.66667E-01
 1.00000E+00 5.00000E+01 1.00000E-01 0.00000E+00 0.00000E+00 0.00000E+00
SURFMOD_PFC
     1     0     2     2     1
 1.20600E+03       EWALL 0.00000E+00 0.00000E+00 0.00000E+00-1.00000E+00
 1.00000E+00 1.00000E+00 1.00000E+00 1.00000E+00 5.00000E-01 1.00000E+00
 1.00000E+00 3.00000E-02 0.00000E+00 0.00000E+00 0.00000E+00
SURFMOD_DIVENT
     1     0     2     2     1
 1.20600E+03       EWALL 0.00000E+00 0.00000E+00 0.00000E+00-1.00000E+00
 1.00000E+00 0.00000E+00 1.00000E+00 1.00000E+00 5.00000E-01 1.00000E+00
SURFMOD_PUMP
     1     2     0     0     
 5.62600E+03       EWALL 0.00000E+00 0.00000E+00 0.00000E+00 0.00000E+00
 1.00000E+00      RECYCT 0.00000E+00 1.00000E+00 5.00000E-01 1.00000E+00
*** 7. Data for primary sources, nstrai strata                                  
     2
     6    -1
 5.00000E-01
*   2 : Volumetric recombination D                                      
FFFFF
 50000  4001     6     1     0
 1.00000E+00 0.00000E+00     0     0     0     0     0     0     0     0
FFFTF
     1
FFFTF
     1
     2     0     0     0     0     0     0     0     0
 1.00000E+00 1.40000E+02 1.00000E+00 0.00000E+00 0.00000E+00
     0     0     0     0     0     0     0
 0.00000E+00 0.00000E+00 0.00000E+00 0.00000E+00 0.00000E+00 0.00000E+00
 0.00000E+00 0.00000E+00 0.00000E+00 0.00000E+00 0.00000E+00
 0.00000E+00 0.00000E+00 0.00000E+00 0.00000E+00 0.00000E+00
*** 8. Additional data for specific zones                               
     0
*** 9. Data for statistic and nonanalog model                           
FFFFF FFFFF FFF
     0
     0     0     0     0     0
 1.00000E+03 1.00000E-02 0.00000E+00
 2.00000E+00
**  Standard deviation                                                  
     0     0     0     0     0
*** 10. Data for additional tallies                                     
     8     0     0     0     0
** 10a. Volume tallies - tracklength estimator                          
     1     0     0     1
RADIAL PARTICLE FLUXES, VOLUME AVERAGED                                 
D ATOMS                 #/CM**2/S               
     1     0     0     1
RADIAL PARTICLE FLUXES, VOLUME AVERAGED                                 
D2 MOLECULES            #/CM**2/S               
     1     0     0     1
RADIAL ENERGY FLUXES, VOLUME AVERAGED                                   
D ATOMS                 EV/CM**2/S              
     1     0     0     1
RADIAL ENERGY FLUXES, VOLUME AVERAGED                                   
D2 MOLECULES            EV/CM**2/S              
     1     0     0     1
PARALLEL PARTICLE FLUXES, VOLUME AVERAGED                               
D ATOMS                 #/CM**2/S               
     1     0     0     1
PARALLEL PARTICLE FLUXES, VOLUME AVERAGED                               
D2 MOLECULES                                    
     1     0     0     1
PARALLEL ENERGY FLUXES, VOLUME AVERAGED                                 
D ATOMS                 EV/CM**2/S              
     1     0     0     1
PARALLEL ENERGY FLUXES, VOLUME AVERAGED                                 
D2 MOLECULES            EV/CM**2/S              
** 10b. Volume tallies - collisional estimator                          
** 10c. Volume tallies - algebraic expressions                          
** 10d. Surface tallies                                                 
** 10e. Surface tallies - algebraic expressions                         
*** 11. Data for numerical and graphical output                         
FFFFF FFFFF FFFFF FFFFF FFFFF FFFFF FFFF
FFFFF TFFFF FFFFF FFFFF FFFF
     0     0
     5
     1
    -1     0     0     0     0
    -2     0     0     0     0
    -3     0     0     0     0
    -4     0     0     0     0
TTFTT FFTFF FFFFF
     1  NY+1     1     1  NX+1     1     1     0     1     0
F                          0
F                          0
F                          0
F                          0
F                          0
F                          0
F                          0
F                          0
 2.27745E+02 2.27745E+02 1.13050E+02 0.00000E+00 0.00000E+00
 1.00000E+01 1.00000E+01 0.00000E+00 0.00000E+00 1.00000E+01 1.00000E+01
 1.00000E+01 1.00000E+01 0.00000E+00
     0     0     0     0     0     0     0     0     0     0     2
     0
*** 12. Data for diagnostic module                                      
     0     0     0     0     0     0     0     0
*** 13. Data for nonlinear and time dep. option                         
     0
*** 14. Data for interfacing routine "infusr"                           
FTFFF                                                                   
     1     0     1     0     0     0     1     1     1
     1     1  1.0000E+00  2.0000E+00     1
    NX    NY
     1
     1
     1    NX     1     1     1  NY+1     0 50000     1     1     1     0
 3.00000E+00 3.00000E+00 8.00000E+00 2.00000E+01                                
     0
     0
*** 15. Data for interfacing routine "geousr"                           
     0     1     0
     1     0
     0     1                                                                    
